.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header__background {
  display: flex;
  flex-direction: column;
  background-image: url("../../images/header.jpg");
  background-size: cover;
  background-position: center;
}

@media (max-width: 1024px) {
  .main {
    width: 100%;
  }
}
