.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 104px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  width: 100%;
}

.header__logo {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

.header--light .header__logo {
  color: #1a1b22;
}

.header--light {
  border-bottom: 1px solid rgba(26, 27, 34, 0.2);
}

.header--light .navigation__link,
.header--light .navigation__button {
  color: #1a1b22;
}

.header--light .navigation__button {
  border-color: #1a1b22;
}

.header__menu-button {
  display: none;
  background: transparent;
  border: none;
  font-size: 28px;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .header {
    padding: 0 40px;
  }

  .header__logo {
    font-size: 16px;
  }
}

@media (max-width: 544px) {
  .header {
    padding: 0 16px;
  }

  .header__menu-button {
    display: flex;
  }
  .header--light .header__menu-button {
    color: #1a1b22;
  }
}
